:root {
    --bg-fundo: #343A40;
    --light-gray: #C8C8C8;
    --gray-lines: #495057;
}

section {
    background-color: var(--bg-fundo);
    max-width: 593px;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

input:not([name="senhaLogar"]):not([type="checkbox"]) {
    margin-bottom: 22px;
}

input:not([type="checkbox"]) {
    border-radius: 5px;
    background-color: var(--bg-fundo);
    width: 427.05px;
    height: 25px;
    border: 1px solid #fff;
}

input[type="submit"] {
/*min-h-[54.95px] text-xl mt-[60px] */
    min-height: 54.95px;
    font-size: 1.25rem;
}

label:not([for="li&concordo"]) {
    margin: 0.37rem 0px;
}

hr {
    width: 34.81rem;
    border-top-width: 2px;
    border-color: var(--gray-lines);
}