:root {
    --background-color: #343A40
}

section {
    background-color: var(--background-color);
    max-width: 593px;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

form div {
    margin-bottom: 22px;
}

input {
    border-radius: 5px;
    background-color: var(--background-color);
    width: 427.05px;
    height: 25px;
    border: 1px solid #fff;
}

label {
    margin: 0.37rem 0px;
}